.jumbotron {
  padding-top: 6rem;
  background-color: #880000;
}

.jumbotron h1 {
  color: #ffffff;
  font-weight: normal;
}

.jumbotron p {
  color: #ffffff;
}

#project {
  background-color: gray;
}

footer {
  background-color: gray;
  padding-bottom: 3%;
  text-align: center;
  color: white;
}

section {
  padding-top: 5rem;
}
